/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .p-sm-1 {
    padding: 5 px !important;
  }
  .p-sm-2 {
    padding: 10 px !important;
  }
  .p-sm-3 {
    padding: 15 px !important;
  }
  .p-sm-4 {
    padding: 20 px !important;
  }
  .p-sm-5 {
    padding: 25 px !important;
  }
  .p-sm-6 {
    padding: 30 px !important;
  }
  .p-sm-7 {
    padding: 35 px !important;
  }
  .p-sm-8 {
    padding: 40 px !important;
  }
  .p-sm-9 {
    padding: 45 px !important;
  }
  .p-sm-10 {
    padding: 50 px !important;
  }
  .p-sm-11 {
    padding: 55 px !important;
  }
  .p-sm-12 {
    padding: 60 px !important;
  }
  .m-sm-1 {
    margin: 5 px !important;
  }
  .m-sm-2 {
    margin: 10 px !important;
  }
  .m-sm-3 {
    margin: 15 px !important;
  }
  .m-sm-4 {
    margin: 20 px !important;
  }
  .m-sm-5 {
    margin: 25 px !important;
  }
  .m-sm-6 {
    margin: 30 px !important;
  }
  .m-sm-7 {
    margin: 35 px !important;
  }
  .m-sm-8 {
    margin: 40 px !important;
  }
  .m-sm-9 {
    margin: 45 px !important;
  }
  .m-sm-10 {
    margin: 50 px !important;
  }
  .m-sm-11 {
    margin: 55 px !important;
  }
  .m-sm-12 {
    margin: 60 px !important;
  }
  .no-p-sm {
    padding: 0px;
  }
  .no-m-sm {
    margin: 0px;
  }
  .no-p-lg {
    padding: 0 px !important;
  }
  .no-m-lg {
    margin: 0 px !important;
  }
  .no-border-sm-top {
    border-top: none;
  }
  .no-border-sm-right {
    border-right: none;
  }
  .no-border-sm-bottom {
    border-bottom: none;
  }
  .no-border-sm-left {
    border-left: none;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .p-md-1 {
    padding: 5 px !important;
  }
  .p-md-2 {
    padding: 10 px !important;
  }
  .p-md-3 {
    padding: 15 px !important;
  }
  .p-md-4 {
    padding: 20 px !important;
  }
  .p-md-5 {
    padding: 25 px !important;
  }
  .p-md-6 {
    padding: 30 px !important;
  }
  .p-md-7 {
    padding: 35 px !important;
  }
  .p-md-8 {
    padding: 40 px !important;
  }
  .p-md-9 {
    padding: 45 px !important;
  }
  .p-md-10 {
    padding: 50 px !important;
  }
  .p-md-11 {
    padding: 55 px !important;
  }
  .p-md-12 {
    padding: 60 px !important;
  }
  .m-md-1 {
    margin: 5 px !important;
  }
  .m-md-2 {
    margin: 10 px !important;
  }
  .m-md-3 {
    margin: 15 px !important;
  }
  .m-md-4 {
    margin: 20 px !important;
  }
  .m-md-5 {
    margin: 25 px !important;
  }
  .m-md-6 {
    margin: 30 px !important;
  }
  .m-md-7 {
    margin: 35 px !important;
  }
  .m-md-8 {
    margin: 40 px !important;
  }
  .m-md-9 {
    margin: 45 px !important;
  }
  .m-md-10 {
    margin: 50 px !important;
  }
  .m-md-11 {
    margin: 55 px !important;
  }
  .m-md-12 {
    margin: 60 px !important;
  }
  .no-p-md {
    padding: 0 px !important;
  }
  .no-m-md {
    margin: 0 px !important;
  }
  .no-border-md-top {
    border-top: none;
  }
  .no-border-md-right {
    border-right: none;
  }
  .no-border-md-bottom {
    border-bottom: none;
  }
  .no-border-md-left {
    border-left: none;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 993px) and (min-width: 1200px) {
  .p-lg-1 {
    padding: 5 px !important;
  }
  .p-lg-2 {
    padding: 10 px !important;
  }
  .p-lg-3 {
    padding: 15 px !important;
  }
  .p-lg-4 {
    padding: 20 px !important;
  }
  .p-lg-5 {
    padding: 25 px !important;
  }
  .p-lg-6 {
    padding: 30 px !important;
  }
  .p-lg-7 {
    padding: 35 px !important;
  }
  .p-lg-8 {
    padding: 40 px !important;
  }
  .p-lg-9 {
    padding: 45 px !important;
  }
  .p-lg-10 {
    padding: 50 px !important;
  }
  .p-lg-11 {
    padding: 55 px !important;
  }
  .p-lg-12 {
    padding: 60 px !important;
  }
  .m-lg-1 {
    margin: 5 px !important;
  }
  .m-lg-2 {
    margin: 10 px !important;
  }
  .m-lg-3 {
    margin: 15 px !important;
  }
  .m-lg-4 {
    margin: 20 px !important;
  }
  .m-lg-5 {
    margin: 25 px !important;
  }
  .m-lg-6 {
    margin: 30 px !important;
  }
  .m-lg-7 {
    margin: 35 px !important;
  }
  .m-lg-8 {
    margin: 40 px !important;
  }
  .m-lg-9 {
    margin: 45 px !important;
  }
  .m-lg-10 {
    margin: 50 px !important;
  }
  .m-lg-11 {
    margin: 55 px !important;
  }
  .m-lg-12 {
    margin: 60 px !important;
  }
  .no-p-lg {
    padding: 0 px !important;
  }
  .no-m-lg {
    margin: 0 px !important;
  }
  .no-border-lg-top {
    border-top: none;
  }
  .no-border-lg-right {
    border-right: none;
  }
  .no-border-lg-bottom {
    border-bottom: none;
  }
  .no-border-lg-left {
    border-left: none;
  }
}
.p-1 {
  padding: 5 px !important;
}
.p-2 {
  padding: 10 px !important;
}
.p-3 {
  padding: 15 px !important;
}
.p-4 {
  padding: 20 px !important;
}
.p-5 {
  padding: 25 px !important;
}
.p-6 {
  padding: 30 px !important;
}
.p-7 {
  padding: 35 px !important;
}
.p-8 {
  padding: 40 px !important;
}
.p-9 {
  padding: 45 px !important;
}
.p-10 {
  padding: 50 px !important;
}
.p-11 {
  padding: 55 px !important;
}
.p-12 {
  padding: 60 px !important;
}
.m-1 {
  margin: 5 px !important;
}
.m-2 {
  margin: 10 px !important;
}
.m-3 {
  margin: 15 px !important;
}
.m-4 {
  margin: 20 px !important;
}
.m-5 {
  margin: 25 px !important;
}
.m-6 {
  margin: 30 px !important;
}
.m-7 {
  margin: 35 px !important;
}
.m-8 {
  margin: 40 px !important;
}
.m-9 {
  margin: 45 px !important;
}
.m-10 {
  margin: 50 px !important;
}
.m-11 {
  margin: 55 px !important;
}
.m-12 {
  margin: 60 px !important;
}
.no-p {
  padding: 0 px !important;
}
.no-m {
  margin: 0 px !important;
}
.no-border-top {
  border-top: none;
}
.no-border-right {
  border-right: none;
}
.no-border-bottom {
  border-bottom: none;
}
.no-border-left {
  border-left: none;
}
